@import "variable";
@import "mixin";

footer
{
    height: 4rem;
    padding: 0px 5%;
    background-color: $bg_black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    a
    {
        text-decoration: none;
        i{
            font-size: 0.5rem;
            background-color: $color--additional3;

        }
    }
}