* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html {
    line-height: 1.15;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.active {
    background-color: $color--primary-dark;
    color: $font_yellow;
}

.top {
    height: 56px;
    background-color: $bg_black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    header {
        height: 56px;
        background-color: $bg_black;
        padding: 0 6%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;

            #logo_icon {
                img
                {
                    height: 45px;
                    width: 45px;
                }
                .fa-people-line {
                    color: $font_white;
                }
            }

            #logo_text {
                margin-left: 6px;
                display: flex;
                flex-direction: row;
                align-items: center;
                #fName {
                    font-size: 32px;
                    font-weight: 300;
                    line-height: 36.8px;
                    color: $font_white;
                    border: none;
                    transition: color 0.2s;
                }

                #lName {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 36.8px;
                    color: $bg_sky_blue;
                    border: none;
                    margin-left: 3px;
                    transition: color 0.2s;

                }
            }

            &:hover #logo_text #fName {
                color: $font_yellow;
            }

            &:hover #logo_text #lName {
                color: $font_white;
            }
        }

        .right {
            display: flex;
            flex-direction: row;
            justify-content: center;

            ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                font-size: 24px;
                line-height: 28px;

                li {
                    margin: 0px 15px 0px 0px;
                    font-weight: 500;
                    padding: 10px;
                    border-radius: 4px;

                    &:hover {
                        background-color: $color--primary-dark;
                        color: $font_yellow;
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; // Shadow33
                        transition: color .28s cubic-bezier(.4, 0, .2, 1) 0ms, background-color .28s cubic-bezier(.4, 0, .2, 1) 0ms, border-color .28s cubic-bezier(.4, 0, .2, 1) 0ms, box-shadow .28s cubic-bezier(.4, 0, .2, 1) 0ms;
                    }
                }

                a {
                    text-decoration: none;
                    color: $font_white;
                }
            }


        }
    }

}

@media only screen and (max-width: 760px) {
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 760px) {}