body{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.navbar{
    font-family: 'Fasthand', cursive;
    position: absolute;
    background-color: olive;
}

.nav-b{
    background-color: aliceblue;
}